body{
    background-color: palevioletred;
    text-align: center;
}
button .comment {
    display: none;
}
  
  button:hover .replies {
    display: none;
}
  
  button:hover .comment {
    display: inline;
}
